@import '~office-ui-fabric-react/dist/sass/References.scss';

.helloFormContainer {
  .flexContainer {
    display: flex;

    .flexItem {
      flex: 1 1 auto;
    }
  }

  .buttonSuccess {
    background-color: darkgreen;
    color: rgb(245, 245, 245);
  }

  .buttonError {
    background-color: darkred;
    color: rgb(245, 245, 245);
  }

  .shimmer {
    margin-bottom: 5px;
  }
}
