.mainContainer {
  margin: 2px 2px 0 2px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    transform: scale(1.1);
    color: "[theme: themePrimary, default: inherit]";
  }
}

.infoCalloutContainer {
  padding: 5px;

  ul {
    padding-left: 15px;
  }
}
